<footer class="mt-auto px-8 md:px-16 pb-4">
  <div>
    <div class="border-b-2 border-red-500 mx-auto container mb-0.5"></div>
    <div class="border-b-4 border-red-500 mx-auto container"></div>
  </div>
</footer>
