---
import Github from "./Github.astro";
---

<nav class="pt-12">
  <div class="flex justify-end px-20 mb-2">
    <a
      href={Astro.props.githubUrl}
      class="text-black hover:text-red-500"
      target="_blank"
      rel="noopener noreferrer"
      title="访问网页Github仓库"
    >
      <Github />
    </a>
  </div>

  <div class="mx-auto flex justify-center">
    <h1
      class="scale-x-[0.8] tracking-[-0.075em] text-5xl text-red-500 mb-2 font-xiaobiaosong"
    >
      广州市白云区同德街地址查询所属社区
    </h1>
  </div>
  <div class="px-16">
    <div class="border-b-4 border-red-500 mx-auto container mb-0.5"></div>
    <div class="border-b-2 border-red-500 mx-auto container"></div>
  </div>
</nav>
