---
import Layout from "../layouts/Layout.astro";
import NavHeader from "../components/NavHeader.astro";
import NeighborhoodLocator from "../components/NeighborhoodLocator.svelte";
---

<Layout title="同德地址查居委">
  <NavHeader />
  <div
    class="container mx-auto px-28 flex flex-col text-[1.75rem]/[2.75rem] tracking-wide"
  >
    <h2 class="text-4xl/8 self-center mt-20 mb-16 font-xiaobiaosong">
      广州市白云区同德街地址匹配居委查询（试行）
    </h2>
    <p>各网友：</p>
    <p class="indent-[2em]">
      为解答「XX路XX号是哪个居委」这个常见问题，本站自发整理同德街辖区部分地址与社区/居委的对应信息，供网友参考使用。
    </p>
    <NeighborhoodLocator client:load />
    <p class="mt-2 text-lg">
      说明：相关数据由人工整理，非官方数据，无法保证信息完整、准确。如发现信息有误或存在遗漏，请联系本站管理员进行纠正。
    </p>
  </div>
</Layout>
