<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body
    class="font-fangsong text-[1.375rem]/8 tracking-wider bg-slate-50 min-h-screen container mx-auto flex items-center justify-center"
  >
    <div
      class="relative bg-white shadow-2xl border border-slate-100 max-h-full min-h-[calc(100vh-4rem)] max-w-3xl"
    >
      <slot />
    </div>
  </body>
</html>
