<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body class="font-fangsong py-8 px-12 bg-slate-50 h-screen">
    <div class="bg-white shadow-2xl border border-slate-100 h-full">
      <slot />
    </div>
  </body>
</html>
